@charset "UTF-8";


/*
    ESTILO DA PÁGINA 'HOME'
*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(51, 51, 51);
}

body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);     
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);   
    border-radius: 20px;  
    border: 3px solid rgb(111, 111, 111);  
  }

header {
    background-color: rgba(0, 0, 0, 0.905);
    width: 100%;
    height: 135px;
    position: fixed;
    z-index: 99;
    display: block;
}

header h1 {
    background-color: transparent;
    color: white;
    font-size: 2em;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    position: fixed;
    z-index: 98;
    width: 100%;
}


#show {
    display: none;
}


#menu {
    background-color: transparent;
    position: none;
    margin: auto;
    top: none;
    left: none;
    z-index: 97;
    width: 1030px;
    height: 70px;
    padding: 60px 0px 0px 0px;
    display: flex;
    visibility: visible;
    overflow-y: visible;
    transition: none;
}


menu > ul {
    list-style: none;
    margin: none;
    display: flex;
    padding-top: 30px;
    padding: 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1100px;
}


menu > ul > li > a {
    text-align: center;
    font-weight: bold;
    display: block;
    width: 150px;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0px;
    border-radius: 5px;
}

a:hover {
    background-color: rgb(255, 252, 252);
    color: black;
    text-decoration: none;
}

.fundo1 {
    background-image: url(imagens/header-background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}


main {
    background-color: white;
    padding-top: 30px;
}

.container {
    padding-top: 10px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 1300px;
}

.borda {
    overflow: hidden;
    border: 1px solid white;
    height: 600px;
    width: 600px;
    border-radius: 5px;
}

#fotoprincipal1 {
    background-color: black;
    background-image: url(imagens/fotoprincipal1.jpg);
    border: 1px solid white;
    margin: auto;
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    transition: all .5s;
}

#fotoprincipal1:hover {
    transform: scale(1.1);
  }

#fotoprincipal2 {
    background-color: black;
    background-image: url(imagens/fotoprincipal2.jpg);
    border: 1px solid white;
    margin: auto;
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    transition: all .5s;
}

#fotoprincipal2:hover {
  transform: scale(1.1);
}

.container2 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    height: 600px;
}

#fotoprincipal3 {
    background-color: black;
    background-image: url(imagens/fotoprincipal3.jpg);
    border: 1px solid white;
    margin: auto;
    height: 600px;
    width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    transition: all .5s;
}

#fotoprincipal3:hover {
    transform: scale(1.1);
  }

.container3 {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    height: 600px;
}

.borda2 {
    overflow: hidden;
    border: 1px solid white;
    height: 600px;
    width: 800px;
    border-radius: 5px;
}

#fotoprincipal4 {
    background-color: black;
    background-image: url(imagens/fotoprincipal4.jpg);
    border: 1px solid white;
    margin: auto;
    height: 600px;
    width: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;

    transition: all .5s;
}

#fotoprincipal4:hover {
    transform: scale(1.1);
  }

article {
    padding-bottom: 15px;
}

main {
    background-color: white;
}


article > p {
    text-align: justify;
    line-height: 2em;
    background-color: white;
    width: 850px;
    margin: auto;
    font-size: 1.6em;
    margin-top: 40px;
    margin-bottom: 40px;
}


article > h2 {
    text-align: center;
    padding: 80px;
    font-size: 2.5em;
    margin: 0px;
}

.corpo {
    border: 1px solid white;
    overflow: hidden;
    margin: auto;
    max-height: 450px;
    max-width: 600px;
}


footer {
    background-color: rgb(51, 51, 51);
    max-width: 100%;
    height: 300px;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}


.footertxt {
    display: inline-block;
    color: white;
    padding: 0px 15px;
    max-width: 370px;
    height: 150px;
}

.footertxt > a {
    font-size: 16px;
    text-align: center;
    color: #939292;
}

.footertxt > p {
    font-size: 16px;
    text-align: center;
    color: #939292;
}


/*
 ESTILO DA PÁGINA 'NOSSA HISTÓRIA'
*/


.articlehist p {
    text-indent: 45px;
    text-align: justify;
    line-height: 2em;
    background-color: white;
    width: 850px;
    margin: auto;
    font-size: 1.6em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.containerhistoria1 {
    background-image: url(imagens/barbecue.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

.bordahist {
    display: none;
}


#mainhistoria {
    padding-top: 10px;
    padding-bottom: 50px;
}


.containerhistoria2 {
    height: 400px;
    width: 600px;
    margin: auto;
    background-color: #939292;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#fotohistoria1 {
    background-image: url(imagens/acougue.jpg);
    width: 600px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#fotohistoria2 {
    background-image: url(imagens/historiacozinha.jpg);
    width: 600px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

#fotohistoria3 {
    background-image: url(imagens/graciliano.jpg);
    width: 600px;
    height: 400px;
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

/*
    ESTILO DA PÁGINA 'GALERIA'
*/

.containergaleria {
    background-image: url(imagens/galeriabackground.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.borda3 {
    width: 100%;
    height: 900px;
    border-radius: 0px;
}

#fundo3 {
    height: 900px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    transition: none;
}

#fundo3:hover {
    transform: none;
}

#maingaleria {
    padding-top: 250px;
}


#containergaleria {
    height: 1600px;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
}

.borda4 {
    overflow: hidden;
    border: 1px solid white;
    height: 400px;
    width: 400px;
    border-radius: 5px;
}


.galeriaimg {
    background-color: chocolate;
    width: 400px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

    transition: all .5s;
}

.galeriaimg:hover {
    transform: scale(1.1);
}

#img1 {
    background-image: url(imagens/galeria1.jpg);
}

#img2 {
    background-image: url(imagens/galeria2.jpg);
}

#img3 {
    background-image: url(imagens/galeria3.jpg);
}

#img4 {
    background-image: url(imagens/galeria4.jpg);
}

#img5 {
    background-image: url(imagens/galeria5.jpg);
}

#img6 {
    background-image: url(imagens/galeria6.jpg);
}

#img7 {
    background-image: url(imagens/galeria7.jpg);
}

#img8 {
    background-image: url(imagens/galeria8.jpg);
}

#img9 {
    background-image: url(imagens/galeria9.jpg);
}

/*
    ESTILO da página "CARDÁPIO"
*/

body{
    background-color: white;
}


#maincardapio {
    padding-top: 250px;
    width: 90vw;
    height: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}

.articlecardapio {
    background-image: url(imagens/cardapio.png);
    width: 600px;
    height: 1000px;
    background-color: #ffffff;
    margin: 0px;
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.articlecardapio2 {
    background-image: url(imagens/cardapio2.png);
    width: 600px;
    height: 1000px;
    background-color: #ffffff;
    margin: 100px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

#maindelivery {
    padding-top: 100px;
    width: 90vw;
    height: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all .5seg;
}


#maindelivery > h3 {
    font-size: 2em;
    font-weight: bold;
}

#maindelivery > p {
    margin: 0px;
    padding: 10px;
    font-size: 1em;
    font-weight: normal;
    text-align: center;
}

.bordadelivery {
    border: 1px solid white;
    overflow: hidden;
    border-radius: 8px;

    
}

.delivery {
    background-image: url(imagens/delivery.jpg);
    width: 500px;
    height: 500px;
    background-color: #313131;
    margin: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.delivery:hover {
    transform: scale(1.2);
}